## Ignores in addition to .gitignore

.angular

**/*lint.*

**/*config*.js
**/test-coverage/**/*
manifest.json
**/*.md
**/*.min.*
**/*.d.ts
generated

## Contents of all the .gitignore files. If we don't commit stuff, then there is no point in formatting it.

## root .gitignore

# compiled output
dist
tmp
out-tsc
output

# dependencies
node_modules

# compodoc
documentation

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
*.orig
.settings/
*.sublime-workspace
.vscode
.vs
.history/*


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.angulardoc.json
.angular
.nexus
.nvmrc
.sass-cache
connect.lock
yarn.lock
libpeerconnection.log
npm-debug.log
lerna-debug.log
yarn-error.log
testem.log
typings

# System Files
.DS_Store
Thumbs.db
package-lock.json
